<app-loading-indicator></app-loading-indicator>
<div class="mainContainer row">
  <app-header-component></app-header-component>
  <div class="col-md-2 padding-top20 leftMenuContainer">
    <app-left-menu></app-left-menu>
  </div>
  <div class="col-md-10 padding-top20 righMainContainer">
    <div class="righContainer">
      <app-users *ngIf="mainView.users === true"></app-users>
      <app-groups *ngIf="mainView.groups === true"></app-groups>
      <app-clients *ngIf="mainView.clients === true"></app-clients>
      <app-footer></app-footer>
    </div>
  </div>
</div>
