/* You can add global styles to this file, and also import other style files */
html{
  height: 100%;
}
body{
  background-image: url('/assets/images/background_desat.png');
  color: white;
  overflow-x: hidden;
  height: 100%;
}
.mainContainer{
  height: 100%;
}
.lenguageSelector{
  float: right;
}
.lanuageBtn{
  width: 100px;
  background-image: -webkit-linear-gradient(top,#424242 0,#242424 100%);
  border-style: solid;
  border-width: 1px;
  border-color: rgb(79, 79, 79) rgb(41, 41, 41) rgb(41, 41, 41) rgb(79, 79, 79);
  box-shadow: rgb(15, 15, 15) 1px 1px 0px, rgb(15, 15, 15) -1px -1px 0px, rgb(15, 15, 15) -1px 1px 0px, rgb(15, 15, 15) 1px -1px 0px, rgba(0, 0, 0, 0.2) 1px 2px 2px;
}
.lanuageBtn:hover{
  background-image: -webkit-linear-gradient(top,#424242 0,#242424 100%);
  border-color: rgb(79, 79, 79) rgb(41, 41, 41) rgb(41, 41, 41) rgb(79, 79, 79);
}
.padding-top20{
  padding-top: 20px;
}
.leftMenuContainer{
  background-image: -webkit-linear-gradient(top,#424242 0,#242424 100%);
  height: calc(100% - 75px);
  overflow-y: auto;
}
